body{
    padding: 0%;
    height:5000px;
    background-repeat: no-repeat;
}
h1 {
    color: black;
    text-align: center;
    text-size-adjust: 5%;
    text-shadow: aqua;
    font-size: 28px;
    font-weight: bolder;
    font-style: oblique;
}
.intro {
        position: ;
}
img {
    background-color: yellow;
    height:200px;
    width:200px;
    z-index: inherit;
    border-radius: 20%;
    box-shadow:5px 10px 15px rgba(0, 0, 0, 0.5);
}
.box {
  border-style: solid;
  border-color: lightblue;
}
ul {
line-height: 1.7;
  list-style-image: url('https://edube.org/uploads/media/default/0001/04/oedg_icon_regular.png');
  border: 1px solid #ddd;
  background-color:rgb(217, 224, 107);
}
li {
    border: 1px solid #ddd;
    padding: 2px 4px;
    background-color: beige;
}
a:hover {
    color: #FF0000; /* Changes color to red */
  background-color: #F0F0F0; /* Adds a light gray background */
  text-decoration: none;
}
a:focus{
    color:aquamarine
}
a:active{
    color: black;
}