.flex-container {
    display: flex;
    background: #e3e3e3;
    padding: 10px;
    border: 1px solid #cccccc;
    justify-content: space-between;
}
.flex-container > div{
    border:2px solid grey;
}