header {
    display: flex;
    justify-content: space-between;
}
nav {
    display: flex;
    align-items: center;
}
nav a{
    display: inline-block;
    padding: 20px;
    margin: 20px;
}
.projects{
    display: grid;
    border:2px solid red;
    grid-template-columns: auto auto auto;
}
div {
    padding: 10px;
    margin:10px;
    border:2px solid green;
}