.flex-container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding: 10px;
    height: 300px;
    border: 1px solid #cccccc;
    justify-content: space-around;
}
.flex-container > div{
    flex: 1 1 20px;
    text-align: center;
    margin: 5px;
    padding: 10px;
    background: #4CAF50;
}