body{
    width: 700px;
    margin:auto;
    font-family: ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
    background-repeat:no-repeat;
    background-size: cover;
    background-image: url('/html//resources/img/background.png');
    line-height: inherit;
    background-attachment:scroll;
}
h1 {
    color: black;
    text-align: left;
    text-shadow: aqua;
    font-size: 28px;
    font-weight: bolder;
}
h2,p,div,li,main,section{
    background-color: #DEDBD9;
}
header {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0; /* Set to stick at the top of the viewport */
    background-color: #DEDBD9 ;
    color: white;
    line-height: 1.5;
    width: 100%;
}
.intro {
        position: sticky;
        position: -webkit-sticky;
        list-style-type: none;       
        display: inline-flex;
        margin:0;
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
        padding: 0px 0px 0px 0px;
}
.introtext{
    color: black;
    padding: 10px;
    text-align: left;
    align-content: flex-start;
}
.introimg {
    padding:10px 0px 10px 20px;
}
.intro img {
    background-color: yellow;
    background-image: url('https://edube.org/uploads/media/default/0001/04/red-flower.png');
    background-size: cover;
    height:200px;
    align-content: flex-end;
    width:200px;
    border-radius: 20px;
    box-shadow:5px 10px 15px rgba(0, 0, 0, 0.5);
}
.box {
  border-style: solid;
  border-color: lightblue;
}
#conul {
line-height: 1.7;
  list-style-image: url('https://edube.org/uploads/media/default/0001/04/oedg_icon_regular.png');
  border: 1px solid #ddd;
  background-color:rgb(217, 224, 107);
  box-sizing: border-box;
}
#conli {
    border: 1px solid #ddd;
    padding: 2px 4px;
    background-color: beige;
}
.personal-info{
    margin-bottom: 70px;
}
.personal-info a:hover {
    color: #FF0000; /* Changes color to red */
  background-color: #F0F0F0; /* Adds a light gray background */
  text-decoration: none;
}
.personal-info a:focus{
    color:aquamarine
}
.personal-info a:active{
    color: black;
}
.personal-info li:hover {
    color:hotpink;
}
footer {
    background-color: #DEDBD9;
    text-align: center;
    position: fixed;
    bottom: 0;
    height: 70px;
    width: 700px;
    padding: 0;
}
.contact{
        display: inline-flex;
        list-style-type: none;
}
.contact li{
    padding: 0px 20px;
}
.contact img{
    height: 30px;
    width: 30px;
}
.contact img:hover{
    color: aqua;
    height: 40px;
    width: 40px;
    background-color: yellow;
    border-radius: 45%;
}