body {
    width: 800px;
    background-image: url("/html/resources/img/background.png");
    margin: auto;
    background-size: cover;
    background: linear-gradient(rgb(6, 8, 66) 0%,
            rgb(71, 66, 128) 50%,
            rgb(57, 106, 145) 100%);
}

header,
p,
h1,
h3,
img,
section,
main,
div,
ul,
li,
footer {
    border: 2px dotted black;
    border-radius: 15px;
    margin: 10px;
    padding 5px;
    background-color: #f9f9f9;
}

header {
    background-color: wheat;
}

header h1 {
    text-align: center;
    font-size: 40px;
}

header div {
    justify-content: space-between;
    display: flex;
}

header p {
    font-size: 20px;
    width: 400px;
    text-align: center;
    padding: 20px;
}

header img {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    height: 200px;
    width: 200px;
}

h2 {
    border-radius: 15px;
    margin: 0px;
    padding: 5px;
    font-size: 24px;
    background-color: #1481B8;
    color: white;
    text-transform: capitalize;
}

main {
    bottom: 20px;
}

footer {
    width: auto;
    text-align: center;
}

@media screen and (max-width: 800px) {
    body {
        width: auto;
    }

    header img {
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    }
}

@media screen and (max-width: 400px) {
    body {
        width: 100%;
        background-size: cover;
    }

    header,
    main,
    footer,
    section {
        margin: 0;
        border-radius: 0px;
    }

    header p {
        text-align: justify;
    }

    header img {
        float: right;
        height: 50px;
        width: 50px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    }
}

@media screen and (max-width: 520px) {
    body {
        width: 100%;
        background-size: cover;
    }

    header,
    main,
    footer,
    section {
        margin: 0;
        border-radius: 0px;
    }

    header img {
        align-self: center;
        float: right;
        height: 50px;
        width: 50px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    }

    header p {
        text-align: justify;
    }
}

.glass-container {
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);

    background: rgba(255, 255, 255, 0.10);
    /* glass */
    border: 1px solid rgba(255, 255, 255, 0.10);
    border-radius: 25px;
    padding: 5px;
}

.glass-inner {
    background: rgba(230, 225, 252, 0.85);
    /* inner pane */
    border-radius: 10px;
    padding: 20px;
}